botorch>=0.3.0
gpytorch>=1.1.1
numpy>=1.18.1
scipy>=1.4.1
torch>=1.5.1
pandas

# only for plotting experiment results
matplotlib

# approximate GP sampling
-e git+https://github.com/saitcakmak/gp-sampling.git#egg=gp_sampling
